@font-face {
    font-family: 'Monaspace Neon';
    font-style: normal;
    font-display: swap;
    src: url(https://cdn.jsdelivr.net/gh/Siya-33/static@1.0.2/fonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff2) format('woff2');
  }