/*  version latest
https://font.shirakii.com/fonts_chunk
https://cdn.jsdelivr.net/gh/Siya-33/static@latest/fonts/fonts_chunk */

@font-face {
    font-family: 'Monaspace Neon';
    font-style: normal;
    font-display: swap;
    src: url(https://cdn.jsdelivr.net/gh/Siya-33/static@latest/fonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff2) format('woff2');
  }
@font-face {
  font-family: 'Monaspace Radon';
  font-style: normal;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/Siya-33/static@latest/fonts/MonaspaceRadonVarVF[wght,wdth,slnt].woff2) format('woff2');
}
@font-face {
  font-family: 'Cervanttis';
  font-style: normal;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/Siya-33/static@latest/fonts/Cervanttis.woff2) format('woff2');
}
@font-face {
  font-family: 'Ma Shan Zheng Regular';
  font-style: normal;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/Siya-33/static@latest/fonts/fonts_subset/MaShanZheng-Regular.subset.ttf) format('truetype');
}
@font-face {
  font-family: 'FZXKTJW';
  font-style: normal;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/Siya-33/static@latest/fonts/fonts_subset/FZXKTJW-regular.subset.ttf) format('truetype');
}